  <%= form_with url: search_path, method: :get do %>
    <%= label_tag :q, 'Busca:' %>
    <%= text_field_tag :q %>
    <%= submit_tag 'Pesquisar' %>
  <% end %>

<% if @promotions.empty? %>
  <p><%= "Nenhuma promoção cadastrada" %> </p>
<% else %>
  <dl>


  <% @promotions.each do |promotion| %>
    <dt>Nome: </dt>
    
    <dd>
  
        <%= link_to promotion.name, promotion_path(promotion.id) %>
      
    </dd>
    
    <dt>Descrição: </dt>
    
    <dd><%= promotion.description %></dd>
    
    <dt>Porcentagem de desconto</dt>
    
    <dd><%= number_to_percentage promotion.discount_rate, precision: 2, separator: "," %></dd>
    
    <hr>
  <% end %>
  </dl>
<% end %>
<%= link_to "Registrar uma promoção", new_promotion_path %>
<%= link_to "Voltar", root_path %>